main {
  width: 80vw; 
  background-color: #0e0e0e;
  color:  rgb(218, 218, 218);
  margin: 100px auto;
  padding: 30px;
  border-radius: 8px;
}

main > div.main--grid {
  display: grid; 
  grid-template-areas:
    'header header' 
    'menu right'
    'main main'
    'footer footer';
  grid-gap: 10px;
}


div.main--grid h1 {
  grid-area: header;
  text-align: center;
  font-size: 48px;
  letter-spacing: 2.5px;
  margin-left: 55px;
}

div.main--grid h2 {
  font-weight: 300;
  
}


.main__text.main__text1 {
  grid-area: right;
  text-align: left;
  margin: 16px 30px 0 0;
}
.main__text.main__text1 > p:first-child {
  margin-bottom: 20px;
}

.main__text.main__text1 > p:first-child > a:hover {
  color: rgb(218, 218, 218);
  background-color: rgba(153, 153, 153, 0.2);
}

.main__img.main__img1 {
  grid-area: menu;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(''); 
  width: 400px;
  height: 266px;
  margin-right: 25px;
}

.main__textAuthor {
  font-size: 12px;
  color: rgb(218, 218, 218);
}

.main__userValue {
  grid-area: main;
  font-size: 18px;
  max-width: 75vw;
  min-height: 80px;
  color: rgb(138, 138, 138);
  padding: 25px 0;
  text-align: justify;
  padding: 25px;;
}


.main__userEditable {
  grid-area: footer;
  font-size: 18px;
  width: 75vw;
  min-height: 200px;
  text-align: start;
  outline: 1px dotted rgb(131, 131, 131);
  transition: .3s ease-in-out;
  color: rgb(131, 131, 131);
  font-style: italic;
  padding: 25px;
}
