.header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.header__flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: 50vh;
  transition: .2s ease-in-out;
}

.header__img {
  transition: .5s ease-in-out;
  max-width: 100%;
  filter: grayscale(100%);
}
.header__img:hover {
  filter: grayscale(0);
}


.header__img1 {
  background-repeat: no-repeat;    
  background-size: cover;
  background-image: url('../assets/img3.JPG');
  flex: 1;
}

.header__img2 {
  background-repeat: no-repeat;    
  background-size: cover;    
  background-image: url('../assets/img5.JPG');
  flex: 1;
}
  
.header__img3 {
  background-repeat: no-repeat;        
  background-size: cover;    
  background-image: url('../assets/img2.JPG');
  flex: 1;
}

.header__img4 {
  background-repeat: no-repeat;    
  background-size: cover;
  background-image: url('../assets/img4.JPG');
  flex: 1;
}

.header__img5 {
  background-repeat: no-repeat;    
  background-size: cover;    
  background-image: url('../assets/img1.JPG');
  flex: 1;
}
  
.header__img6 {
  background-repeat: no-repeat;        
  background-size: cover;    
  background-image: url('../assets/img6.JPG');
  flex: 1;
}

@media screen and (min-width: 600px) {
  .header--expanded {
      height: 100vh;
  }
  .header__img--expanded {
      flex: 5;
  }
}

@media screen and (max-width: 600px) {
  .header__img1 {
      display: none;
  }
  .header__img3 {
      display: none;
  }
  .header__img a {
      display: none;
  }
  .header__img p {
      display: none;
  }
  
  .header__img2 {
      flex: 1;
      width: 100vw;
  }
  .header__img--fullscreen {
      height: 50vh;
  }
}

.header__bar {
  background-color: #161f3a !important;
  text-align: center;
  cursor: pointer;
  letter-spacing: 3px !important;
  position: inherit !important;
}

.header__bar h1 {
  letter-spacing: 3px !important;
  font-weight: 580 !important;
  margin-left: 163px !important;
}

.header__toggle {
  margin: 14px 30px 0 0;
}