.main {
  width: 80vw; 
  background-color: #0e0e0e;
  color:  rgb(218, 218, 218);
  margin: 100px auto;
  padding: 40px;
  border-radius: 8px;
}

.main > .main__title {
  text-align: center;
  font-size: 38px;
  letter-spacing: 2.5px;
  margin: 40px;
}

.main__text.main__text1 {
  text-align: justify;
  margin: 0 auto;
  font-size: 18px;
}
.main__text.main__text1 > p:first-child {
  margin-bottom: 25px;
}
