.mainPage {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.mainPage--flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  transition: .2s ease-in-out;
  overflow-x: hidden;
}

.mainPage__img {
  flex: 1;
  transition: .5s ease-in-out;
  max-width: 100%;
}
.mainPage__img:hover {
  flex: 3;
  filter: grayscale(0);
}


.mainPage__img1 {
  background-repeat: no-repeat;    
  background-size: cover;
  background-image: url('../assets/img3.JPG');
  flex: 1;
}

.mainPage__img2 {
  background-repeat: no-repeat;    
  background-size: cover;    
  background-image: url('../assets/img6.JPG');
  flex: 1;
}
  
.mainPage__img3 {
  background-repeat: no-repeat;        
  background-size: cover;    
  background-image: url('../assets/img2.JPG');
  flex: 1;
}

@media screen and (max-width: 600px) {

  .mainPage {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 100vw;
    max-height: 40vh;
  }

  .mainPage__img {
    flex: 1;
    transition: .5s ease-in-out;
    max-width: 100%;
  }
  .mainPage__img:hover {
    filter: grayscale(0);
  }


  .mainPage__img2 {
    display: none;
  }
  .mainPage__img3 {
    display: none;
  }
  
  .header__img1 {
    flex: 1;
    background-image: url('../assets/mini/img3mini.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
  }
}