.sidebar {
  width: 100%;
  height: 100%;
  background-color: #0e0e0e;
  position: fixed;
  top: 0;
  margin-left: -100%;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 60px;
  transition: .3s ease-in-out;
}
  
  @media screen and (min-width: 600px) {
    .sidebar {
    width: 35%;
    height: 100%;
    background-color: #0e0e0e;
    position: fixed;
    top: 0;
    margin-left: -35%;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 60px;
    transition: .3s ease-in-out;
    }
  }
  
.sidebar.sidebar--expanded {
  margin-left: 0;
}

.sidebar li {
  list-style: none;
  padding: 8px 8px 8px 75px;
}

.sidebar li a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: .3s ease-in-out;
}
  
.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar i {
  font-size: 48px;
  position: relative;
  color: #F57F17;
  border-radius: 0 !important;
  margin-bottom: 18px;
  cursor: pointer;
}